@import "../variables.scss";

.ChatWindow {
  margin-top: 4 * $offsetWidth;
  flex: 100%;
  border: 1px solid $darkgray;
  overflow: hidden;
  max-width: 500px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: $offsetWidth 2 * $offsetWidth;
  border-bottom: 1px solid; 
}

.chat-header h2 {
  margin: 0;
}

.chat-header button {
  width: 6 * $offsetWidth;
}

.chat-body { 
  height: 200px;
  padding: $offsetWidth 2 * $offsetWidth;
  overflow-y: scroll;
}

.chat-input {
  border-top: 1px solid #666;
  padding: $offsetWidth 3 * $offsetWidth;
  background: $lightgray;
}

.chat-input form {
  background: $lightgray;
}

.chat-message {
  width: 80%;
  border: 1px solid transparent;
  padding: 2 * $offsetWidth;
  font-size: 1em;
  appearance: none;
  outline-color: transparent;
}

.button-send {
  width: 20%;
  border: none;
  background: transparent; 
  font-weight: 700
}
.button-send:hover {
  background-color: transparent;
  color: $active-button;
}

button {
  cursor: pointer;
  background: transparent;
  border: 1px solid $darkgray;
  padding: 0 2 * $offsetWidth;
  border-radius: $offsetWidth;
  transition: all .3s ease;
}

button:hover {
  background-color: $active-button;
  color: #fff;
  border-color: $active-button;
}

button.alert:hover {
  background-color: $alert-button; 
} 


