@import "../variables.scss";
@import "../mixin.scss";

.ControlBar {
  border: 1px solid $darkgray;
  padding: 2 * $offsetWidth;
  overflow: hidden;
  border-radius: $offsetWidth;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  .loggedin-username {
    display: inline;
    padding: $offsetWidth;
    flex-grow: 2;
  }
}

.ControlBar .username-input {
  font-size: 1em;
  width: 36 * $offsetWidth;
  height: 6 * $offsetWidth;
  background-color: transparent;
  border: 1px solid $darkgray;
  padding: $offsetWidth;
  border-radius: $offsetWidth;
  flex-grow: 2;
  margin: $offsetWidth;
  @include respondto(xs){
    width: 100%; 
    justify-content: center;
    margin: $offsetWidth 0;
  }
  .logout {
    color: $logout-button;
  }
}

.ControlBar .button {
  font-size: 1em;
  font-weight: bold;
  padding: 0 4 * $offsetWidth; 
  height: 6 * $offsetWidth;
  flex-grow: 1;
  @include respondto(xs){
    width: 100%; 
    justify-content: center;
    margin: $offsetWidth 0;
  }
}

.ControlBar .label {
    padding: $offsetWidth;
    @include respondto(xs){
      width: 100%; 
    }
}