@import "../variables.scss";

.ControlBar {
  border: 1px solid $darkgray;
  padding: 2 * $offsetWidth 0px;
  overflow: hidden;
  border-radius: $offsetWidth;
  display: flex;
  flex-wrap: wrap; 
}

.ControlBar #username-input {
  font-size: 1em;
  margin-left: 2 * $offsetWidth;
  width: 180px;
  height: 6 * $offsetWidth;
  background-color: transparent;
  border: 1px solid $darkgray;
  padding: $offsetWidth;
  border-radius: $offsetWidth;
}

.ControlBar #others-select {
  position: relative;
  top: -1px;
  font-size: 1em;
  margin-left: 2 * $offsetWidth;
  width: 180px;
  height: 6 * $offsetWidth;
  border: 1px solid #666;
  border-radius: $offsetWidth;
}

.ControlBar button {
  font-size: 1em;
  font-weight: bold;
  padding: 0 4 * $offsetWidth;
  margin-left: 2 * $offsetWidth;
  height: 6 * $offsetWidth;
}


.ControlBar label {
    padding: $offsetWidth;
}

.loggedInUsername {
  display: inline;
  padding: $offsetWidth;
}