.message {
  color: grey;
  margin: 15px 0 10px 0;
}

.author {
  color: lightgray;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
}

.personal {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
}

.body { 
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px; 
}

.timestamp {
  color: lightgray; 
  font-weight: 300;
  font-size: 14px;
}